<!DOCTYPE html>
<html>
<head>
    <title>Add Flight - HSC</title>
</head>
<body>
    <h1>Add a New Flight</h1>
    <form method="POST">
        <label for="aircraft">Aircraft:</label><br>
        <select id="aircraft" name="aircraft">
            {% for aircraft in aircraft_list %}
                <option value="{{ aircraft[0] }}">{{ aircraft[0] }}</option>
            {% endfor %}
        </select><br><br>

        <label for="towplane">Towplane:</label><br>
        <select id="towplane" name="towplane">
            {% for towplane in towplane_list %}
                <option value="{{ towplane[0] }}">{{ towplane[0] }}</option>
            {% endfor %}
        </select><br><br>

        <label for="instructor">Instructor:</label><br>
        <select id="instructor" name="instructor">
            {% for instructor in instructor_list %}
                <option value="{{ instructor[0] }}">{{ instructor[0] }}</option>
            {% endfor %}
        </select><br><br>

        <label for="pilot">Pilot:</label><br>
        <input type="text" id="pilot" name="pilot"><br><br>

        <label for="charge_to">Charge To:</label><br>
        <input type="text" id="charge_to" name="charge_to"><br><br>

        <label for="takeoff_time">Takeoff Time:</label><br>
        <input type="text" id="takeoff_time" name="takeoff_time" value="{{ current_time }}" readonly><br><br>

        <label for="landing_time">Landing Time:</label><br>
        <input type="text" id="landing_time" name="landing_time" value="{{ current_time }}" readonly><br><br>

        <label for="release_altitude">Release Altitude (ft):</label><br>
	<input type="number" id="release_altitude" name="release_altitude" value="0"required> <br><br>
	
	<label for="comments">Comments:</label><br>
	<textarea id="comments" name="comments" rows="4" cols="50"></textarea>
        <br>
        <input type="submit" value="Add Flight">
    </form>
</body>
</html>

