<!DOCTYPE html>
<html>
<head>
    <title>Update Landing Time - HSC</title>
</head>
<body>
    <h1>Update Landing Time for Flight {{ flight[0] }}</h1>
    <form method="POST">
        <label for="aircraft">Aircraft:</label><br>
        <input type="text" id="aircraft" name="aircraft" value="{{ flight[1] }}" readonly><br><br>

        <label for="instructor">Instructor:</label><br>
        <input type="text" id="instructor" name="instructor" value="{{ flight[2] }}" readonly><br><br>

        <label for="pilot">Pilot:</label><br>
        <input type="text" id="pilot" name="pilot" value="{{ flight[3] }}" readonly><br><br>

        <label for="charge_to">Charge To:</label><br>
        <input type="text" id="charge_to" name="charge_to" value="{{ flight[4] }}" readonly><br><br>

        <label for="takeoff_time">Takeoff Time:</label><br>
        <input type="text" id="takeoff_time" name="takeoff_time" value="{{ flight[5] }}" readonly><br><br>

        <label for="landing_time">Landing Time:</label><br>
        <input type="text" id="landing_time" name="landing_time" value="{{ current_time }}"><br><br>

        <label for="release_altitude">Release Altitude (ft):</label><br>
        <input type="number" id="release_altitude" name="release_altitude" value="{{ flight[8] }}"><br><br>

        <input type="submit" value="Update Landing Time">
    </form>
</body>
</html>
